#name li{display:inline;padding:20px}
tr{text-transform:capitalize;font-size:30px}
ul li{list-style:none; text-transform:capitalize;}
ul .syed{margin:12}
.muq{opacity:0.9}
ul li{display:inline;padding:20px;}
ul #na:hover{color:red}